body {
	/*background-color: gray;*/
}

div, p {
	font-size: 11pt;
}

.hero {
	text-align: center;
	margin-top: 90px;
}

.tab_margin_bottom {
	margin-bottom: 15px;
}

.text_margin_left {
	margin-left: 25px;
}

.profile_image {
	width: 500px;
	height: 400px;
}