/* base */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

h1 {
	font-size: 20px;
}

.container > h2 {
	font-size: 28px;
	margin-top: 36px;
	margin-bottom: 36px;
}

article > h1,
article > h2,
article > h3 {
	margin-top: 36px;
	margin-bottom: 24px;
}

article > h1 {
	font-size: 20px
}

article > h2 {
	font-size: 18px
}


footer {
	font-size: 11px;
	line-height: 5px;
}

a {
 	text-decoration: inherit;
 	cursor: inherit;
}

a:visited {
	color: blue;
}

a:hover {
	cursor:pointer;
}

a.no-style {
 	color: inherit;
 	text-decoration: inherit;
 	cursor: inherit;
}
a.no-style, a.no-style:focus {
	outline: none;
}
a.no-style:hover {
	text-decoration: none;
	cursor:pointer;
}

ul.no-style {
	list-style-type: none;
}

.container {
	width: 868px;
	margin-left: auto;
	margin-right: auto;	
}

pre.highlight {
	overflow-x: auto;
}

code.highlighter-rouge {
	background-color: #f0f0f0;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
}

table {
	width: 748px;
	margin: 0 60px 0 60px;
	font-size: 13px;
}

.clear {
	clear: both;
}

/* layout */
.text-align-right {
	text-align: right;
}

.text-align-center {
	text-align: center;
}

.container img {
	max-width: 748px;
	margin: 0 60px 30px 60px;
}

img + em {
	position: relative;
	float: right;
	margin-right: 60px;
	margin-top: -25px;
}

/* element */
.language-chooser {
	width: 868px;
    right: 110px;
    top: 27px;
    position: absolute;
}

table, th, td {
	border: 1px solid black;
	padding: 3px;
 }

 .strong {
	 color: red;
 }