---
layout: default
---
<hr>
<h2 class='text-align-center'>{{ page.title }}</h2>
<article>
	{{content}}
</article>

{% if page.comments %}
	<div id="disqus_thread"></div>
	<script>
	var disqus_shortname = 'arbipher'; 
    var disqus_identifier = '{{ site.disqusid }}{{ page.id }}'; 
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');

	s.src = '//arbipher.disqus.com/embed.js';

	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}